<!DOCTYPE html>
<html>
  <head>
    <title>Wwff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>

  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
  </body>
</html>
